<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookstore.mapper.BookMapper">

	<!-- criteria(검색조건) -->
	<sql id="criteria">
		<if test="keyword != null">
			bookName like '%' || #{keyword} || '%' and
		</if>
	</sql>
	
	<!-- 상품 검색 -->
	<select id="getGoodsList" resultType="com.bookstore.model.BookVO">
		<![CDATA[
		    select * from (
		        select /*+INDEX_DESC(bs_book 인덱스ID)*/ rownum as rn, bookId, bookName,
		            (select authorName from bs_author where bs_book.authorId = bs_author.authorId) authorName, authorId,
		            (select cateName from bs_bcate where bs_book.cateCode = bs_bcate.cateCode) cateName,cateCode, publisher, publeYear, bookPrice  
		        from bs_book
		        where 
	    ]]>
	    
	    <include refid="criteria"></include>
	    
	    <![CDATA[  
		        rownum <= #{pageNum} * #{amount} 
	        	)
	        where rn > (#{pageNum} -1) * #{amount}
		]]>
	</select>
	
	<!-- 상품 총 개수 -->
	<select id="goodsGetTotal" resultType="int">
		select count(*) from bs_book
		where
		<include refid="criteria"></include> 
		bookId > 0
	</select>
	
</mapper>